<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/custom.css"/>
    <script async defer src="https://teams.microsoft.com/share/launcher.js"></script>
    <script
          src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js"
          integrity="sha384-QtTBFeFlfRDZBfwHJHYQp7MdLJ2C3sfAEB1Qpy+YblvjavBye+q87TELpTnvlXw4"
          crossorigin="anonymous">
    </script>
    <script>
        microsoftTeams.app.initialize();
        function getShareToMeetingUrl() {   
            let appContext = {     
            appSharingUrl: "https://teams-test-tab.azurewebsites.net",     
            appId: "2c19df50-1c3c-11ea-9327-cd28e4b6f7ba" 
        };   
            return "https://teams.microsoft.com/l/meeting-share?fqdn=&lm=deeplink&appContext=" + encodeURIComponent(JSON.stringify(appContext)); 
        } 

        function openUrl() {
            var urlToOpen = getShareToMeetingUrl(); 
            window.open(urlToOpen);
        }
    </script>
</head>

<body class="theme-light">
    <div class="surface">
        <div class="panel">
            <div>
                <h3>Click on the button to access share-to-meeting API from meeting stage:</h3>
                <button onclick="openUrl()">Share to Meeting Stage</button>
            </div>
        </div>
    </div>
</body>

</html>